<html>
<head>
  <div th:insert="~{shared/header :: head}"></div>
  <link rel="stylesheet" th:href="@{../static/login.css}">
</head>
<body style="opacity: 0; visibility: hidden">
<div class="image-section"></div>
<div class="login-section">
  <div class="login-form mx-auto" style="width: 300px;">
    <img class="mb-4" src="https://imgur.com/aTHoQFN.png" alt="Logo" style="width: 100px; display: block; margin: 0 auto;">
    <h1 class="h3 mb-3 font-weight-normal text-center">Insira suas credenciais</h1>
    <form class="d-flex flex-column gap-3" th:action="@{/login}" method="post">
      <div th:if="${param.error}" class="alert alert-danger" role="alert">
        Credenciais inválidas. Por favor, tente novamente.
      </div>
      <input type="text" id="username" name="username" class="form-control mb-2" placeholder="Insira seu e-mail" required autofocus>
      <input type="password" id="password" name="password" class="form-control mb-2" placeholder="****" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>
    <p class="mt-3 text-center">Ainda não possui uma conta? <a href="/register">Registre-se</a></p>
  </div>
</div>
</body>
<script>
  setTimeout(function() {
    var url = window.location.href;
    if (!url.includes("/login?error")) {
      document.body.style.opacity = "1";
      document.body.style.visibility = "visible";
      document.body.style.transform = "translateX(0)";
      document.querySelector('.image-section').style.animation = "slide-in-left 1s ease-in-out forwards";
      document.querySelector('.login-section').style.animation = "slide-in-right 1s ease-in-out forwards";
    } else {
      document.body.style.opacity = "1";
      document.body.style.visibility = "visible";
      document.body.style.transform = "translateX(0)";
      document.querySelector('.image-section').style.transform = "translateX(0)";
      document.querySelector('.login-section').style.transform = "translateX(0)";
    }
  }, 300);
</script>